@model PasswordManeger.ViewModels.AddPasswordViewModel

<form asp-action="AddPassword" method="post">
    <div class="modal-header">
        <h5 class="modal-title">Добавить пароль</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label asp-for="ServiceName" class="form-label"></label>
            <input asp-for="ServiceName" class="form-control" />
            <span asp-validation-for="ServiceName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Link" class="form-label"></label>
            <input asp-for="Link" class="form-control" />
            <span asp-validation-for="Link" class="text-danger"></span>
        </div>
    </div>
    <div class='modal-footer'>
        <button type='submit' class='btn btn-success'>Сохранить</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}